<style>
    html,
    body,
    #map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>
<script src="https://apis.mapmyindia.com/advancedmaps/v1/e18950a8b3dff6a4b3f84cbb8ddb3ff9/map_load?v=1.3"></script>




<script>


    var map = new MapmyIndia.Map("map", {
        center: [28.61, 77.23],
        zoomControl: true,
        hybrid: true,
        search: true,
        location: true
    });

    var marker = L.marker([28.61, 77.23]).addTo(map);





</script>
<div id="map"></div>;